<h2>Create New Comment</h2>

<form [formGroup]="commentForm" (ngSubmit)="createPost()">
  <div>
    <label>
      Name
      <br>
      <input type="text" formControlName="name">
    </label>
  </div>
  <div *ngIf="commentForm.get('name').invalid && commentForm.get('name').touched" style="color: red">
    Name is required not null!
  </div>
  <div>
    <label>
      Email
      <br>
      <input type="text" formControlName="email">
    </label>
  </div>
  <div *ngIf="commentForm.get('email').invalid && commentForm.get('email').touched" style="color: red">
    Email is required not null!
  </div>
  <div>
    <label>
      Body
      <br>
      <textarea formControlName="body" cols="30" rows="10"></textarea>
    </label>
  </div>
  <div *ngIf="commentForm.get('body').invalid && commentForm.get('body').touched" style="color: red">
    Body is required not null!
  </div>
  <button type="submit">Create Comment</button>
</form>
