<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Title
      <br>
      <input type="text" formControlName="title">
    </label>
  </div>
  <div *ngIf="postForm.get('title').invalid && postForm.get('title').touched" style="color: red">
    Title is required not null!
  </div>
  <div>
    <label>
      Description
      <br>
      <textarea formControlName="body" cols="30" rows="10"></textarea>
    </label>
  </div>
  <div *ngIf="postForm.get('body').invalid && postForm.get('body').touched" style="color: red">
    Description is required not null!
  </div>
  <button type="submit">Update</button>
</form>
